<div class="tab-pane fade" id="panel52" role="tabpanel">

         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var positive = parseInt(document.getElementById("positive").innerHTML);
        var negative = parseInt(document.getElementById("negative").innerHTML);
        var neutral =  parseInt(document.getElementById("neutral").innerHTML);

        console.log(positive);
                console.log(negative);
        console.log(neutral);


        var data = google.visualization.arrayToDataTable([
          ['Effort', 'Amount given'],
          ['Positive',positive],
          ['Negative',negative],
          ['Neutral',neutral]
        ]);

        var options = {
          pieHole: 0.5,
           width:900,
          height:500,
          pieSliceTextStyle: {
            color: 'black',
          },
        };

        var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
        chart.draw(data, options);
      }
    </script>
  
    <div id="donut_single" style="width: 900px; height: 500px;"></div>


    </div>