<div class="tab-pane fade" id="panel52" role="tabpanel">
<div id="tweemotions" style="display:none"><%=twitterSentimentScore%></div>

<div class="row">
        <div id="chart_div" class='col-6'><canvas id="staticChart"></canvas></div> 

    <div id="donut_single" class='col-5' ></div>
</div>




         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var positive = parseInt(document.getElementById("positive").innerHTML);
        var negative = parseInt(document.getElementById("negative").innerHTML);
        var neutral =  parseInt(document.getElementById("neutral").innerHTML);

        console.log(positive);
                console.log(negative);
        console.log(neutral);


        var data = google.visualization.arrayToDataTable([
          ['Emotion', 'Amount'],
          ['Positive',positive],
          ['Negative',negative],
          ['Neutral',neutral]
        ]);

        var options = {
          pieHole: 0.5,
           width:900,
          height:500,
          pieSliceTextStyle: {
            color: 'black',
          },
        };

        var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
        chart.draw(data, options);
      }
    </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('staticChart').getContext('2d');
var myBarChart = new Chart(ctx, {
type: 'line',
      data: {
        labels: [],
        datasets: [{
            label: "Tweets",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [1,2,4,5],
        }]
    },

    // Configuration options go here
    options: {}
});



</script>




    


    </div>