<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
        <link href="css/mdbx.min.css" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

<% include navbar %>


<div class="tabs-wrapper"> 
    <ul class="nav classic-tabs tabs-cyan" role="tablist">
        <li class="nav-item">
            <a class="nav-link waves-light active" data-toggle="tab" href="#panel51" role="tab">Tweets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" data-toggle="tab" href="#panel52" role="tab">Charts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" data-toggle="tab" href="#panel53" role="tab">Analysis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" data-toggle="tab" href="#panel54" role="tab">Stream</a>
        </li>
        
    </ul>
</div>

<!-- Tab panels -->
<div class="tab-content card">
    <% include panel1 %>
        <% include chartPanel %>
            <% include analisysPanel %>
                        <% include streamPanel %>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [],
        datasets: [{
            label: "Live Tweets chart",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [],
        }]
    },

    // Configuration options go here
    options: {}
});


  var tweetNR = 0 ;
  var socket = io.connect('http://localhost:8000');
  socket.on('tweets', function (data) {
if (tweetNR<10) {
            tweetNR++;
  tweets = document.getElementById("tweetsText");
          tweets.innerHTML = `<div id="tweetNR`+ tweetNR+`" class="alert alert-dark">`+data.tweet.text+'|'+data.emotions.score+`</div>` + tweets.innerHTML ;
 chart.data.datasets[0].data.push(data.emotions.score);
  chart.data.labels.push(data.tweet.created_at);
  chart.update();
  if(chart.data.labels.length>10){chart.data.labels.shift();
    chart.data.datasets[0].data.shift();}



    console.log(chart.data);
}else{

$('#tweetsText').children().last().remove();
tweetNR--
  };
  });



</script>
   

<% include footer %>


<!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>




  </body>
</html>
