
<nav class="navbar navbar-light cyan lighten-1 fixed-top">
    <span class="navbar-brand">"Bazzinga"</span>

        <form action="/" class="form-inline" method="post">

           <div class="row fg1">
            <div clas="col align-self-end">
          <input name="keyword" type="text" class="form-control" placeholder="Enter a KeyWord" required>
              <input name="numberoftweets" class="form-control" type="number" value="10" id="example-number-input">

         
          <input type="submit" class="btn btn-primary getTweetsBtn" value="Get Tweets">
       
        </div>
        </div>
        </form>
</nav>