.getTweetsBtn{
  margin-left: 20px;
}


.fg1{

}

.form-inline{
	margin-left: 30%;
}

.keyword{
	text-align: center;
}

.main-page{
}

.tabs-wrapper{
		margin-top: 5%;

}

#positiveTweets{
	border-right: 1px black solid;
		text-align: center !important;

}
